<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>

  <menu id="client-menu">
    <item label="minimize">
      <action name="Iconify" />
    </item>
    <item label="maximize">
      <action name="ToggleMaximize" />
    </item>
    <item label="fullscreen">
      <action name="ToggleFullscreen" />
    </item>

    <separator/>

    <item label="always on top">
      <action name="ToggleAlwaysOnTop" />
    </item>

    <item label="sticky">
      <action name="ToggleOmnipresent" />
    </item>

    <separator/>

    <item label="quit">
      <action name="Close" />
    </item>
  </menu>

  <menu id="root-menu">
    <item label="reconfigure">
      <action name="execute" command="labwc-reload" />
    </item>
    <item label="quit">
      <action name="execute" command="labwc-quit" />
    </item>

    <separator/>

    <item label="suspend">
      <action name="execute" command="loginctl suspend" />
    </item>
    <item label="reboot">
      <action name="execute" command="loginctl reboot" />
    </item>
    <item label="reboot (setup)">
      <action name="execute" command="loginctl reboot --firmware-setup" />
    </item>
    <item label="poweroff">
      <action name="execute" command="loginctl poweroff" />
    </item>
  </menu>

</openbox_menu>
