<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>

  <menu id="client-menu">
    <item label="minimize">
      <action name="Iconify" />
    </item>

    <item label="maximize">
      <action name="ToggleMaximize" />
    </item>

    <item label="fullscreen">
      <action name="ToggleFullscreen" />
    </item>

    <separator />

    <item label="toggle decorations">
      <action name="ToggleDecorations" />
    </item>

    <separator />

    <item label="always on top">
      <action name="ToggleAlwaysOnTop" />
    </item>

    <item label="sticky">
      <action name="ToggleOmnipresent" />
    </item>

    <separator />

    <item label="quit">
      <action name="Close" />
    </item>
  </menu>

  <menu id="root-menu">
    <item label="reconfigure">
      <action name="Execute" command="labwc-reload" />
    </item>

    <separator />

    <item label="wallpaper">
      <action name="Execute" command="tool-wallpaper" />
    </item>

    <item label="night mode">
      <action name="Execute" command="tool-nightmode" />
    </item>

    <separator />

    <item label="keep awake (24h)">
      <action name="Execute" command="elogind-inhibit --what=idle:sleep --who=labwc-menu --why='keep awake (24h)' sleep 86400" />
    </item>

    <item label="hibernate">
      <action name="Execute" command="loginctl hibernate" />
    </item>

    <separator />

    <menu id="screenshot-menu" label="screenshot">
      <item label="area">
        <action name="Execute" command="tool-screenshot area" />
      </item>

      <item label="monitor">
        <action name="Execute" command="tool-screenshot output" />
      </item>

      <item label="all">
        <action name="Execute" command="tool-screenshot all" />
      </item>

      <separator />

      <item label="screenshots directory">
        <action name="Execute" command="nsxiv -t ~/pictures" />
      </item>
    </menu>

    <menu id="terminal-menu" label="terminal">
      <item label="tmux-attach">
        <action name="Execute" command="foot tmux-attach" />
      </item>

      <item label="man-fzf">
        <action name="Execute" command="foot man-fzf" />
      </item>

      <item label="man-rand">
        <action name="Execute" command="foot man-rand" />
      </item>
    </menu>

    <menu id="drives-menu" label="drives">
      <item label="mount">
        <action name="Execute" command="tool-mount" />
      </item>

      <item label="unmount">
        <action name="Execute" command="tool-unmount" />
      </item>
    </menu>

    <menu id="power-menu" label="power">
      <item label="lock">
        <action name="Execute" command="labwc-lock" />
      </item>

      <item label="screens off">
        <action name="Execute" command="wlopm --off '*'" />
      </item>

      <separator />

      <item label="log out">
        <action name="Execute" command="labwc-quit" />
      </item>

      <item label="poweroff">
        <action name="Execute" command="loginctl poweroff" />
      </item>

      <item label="reboot">
        <action name="Execute" command="loginctl reboot" />
      </item>

      <separator />

      <item label="setup (uefi)">
        <action name="Execute" command="sh -c 'pkexec bootctl reboot-to-firmware true &amp;&amp; loginctl reboot'" />
      </item>
    </menu>
  </menu>

  <menu id="launcher-menu">
    <item label="web">
      <action name="Execute" command="firefox-wayland" />
    </item>

    <item label="files">
      <action name="Execute" command="nemo" />
    </item>

    <item label="pavucontrol">
      <action name="Execute" command="pavucontrol" />
    </item>

    <item label="qpwgraph">
      <action name="Execute" command="qpwgraph" />
    </item>

    <item label="bluetooth">
      <action name="Execute" command="foot bluetuith" />
    </item>
  </menu>

</openbox_menu>
