# UI
# background_color            0.9803921 0.9803921 0.9803921
# dark_mode_background_color  0.0546875 0.0625 0.09375

background_color            0 0 0
dark_mode_background_color  0 0 0

# status_bar_color       0.0546875 0.0625 0.09375
# status_bar_text_color  1 1 1
# status_bar_font_size   25

# ui_font    Intel One Mono
# font_size  25

overview_size 0.5 0.5
# overview_offset -0.0119792 0.120151

page_separator_width  2
page_separator_color  0.9 0.9 0.9

ruler_mode       1
ruler_padding    1.0
ruler_x_padding  5.0

fit_to_page_width_ratio     0.75
zoom_inc_factor             1.2
move_screen_ratio           0.33

highlight_middle_click      1
wheel_zoom_on_cursor        1
single_click_selects_words  1
multiline_menus             1

visual_mark_next_page_fraction   0.75
visual_mark_next_page_threshold  0.25

vertical_move_amount    1.0
horizontal_move_amount  1.0

smooth_scroll_speed  3
smooth_scroll_drag   20000


# General
create_table_of_contents_if_not_exists  1
flat_toc                                0

show_doc_path                       1
show_document_name_in_statusbar     1
show_closest_bookmark_in_statusbar  1

should_load_tutorial_when_no_other_file  1
should_launch_new_window                 1
should_use_multiple_monitors             1

sort_bookmarks_by_location  1

super_fast_search      1
case_sensitive_search  1


# Rendering
prerender_next_page_presentation  1
should_draw_unrendered_pages      0
rerender_overview                 1
linear_filter                     1


# Startup
startup_commands toggle_visual_scroll;toggle_show_last_command;toggle_scrollbar
