* {
    border: none;
    border-radius: 0;
    min-height: 0;
    min-width: 0;
    transition: none;
    animation-timing-function: steps(1);
    animation-duration: 0s;
}

#waybar {
    font-family: 'APL386 Unicode';
    font-size: 16pt;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

#waybar.hidden {
    opacity: 0;
}

.module {
    color: #fff;
    background-color: #1f2430;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
}

#clock,
#battery,
#mode {
    color: #fff;
}

#tags {
    padding: 0;
}

#tags button {
    color: #fff;
    padding: 0.25rem 0.5rem;
}

#tags button:not(.occupied):not(.focused) {
    font-size: 0;
    min-width: 0;
    min-height: 0;
    padding: 0 0;
    border: 0;
}

#tags button.focused {
    background-color: #ffd580;
    color: #000;
}

/* foreground=cbccc6 */
/* background=1f2430 */

/* ## Normal/regular colors (color palette 0-7) */
/* regular0=191e2a  # black */
/* regular1=ed8274  # red */
/* regular2=a6cc70  # green */
/* regular3=fad07b  # yellow */
/* regular4=6dcbfa  # blue */
/* regular5=cfbafa  # magenta */
/* regular6=90e1c6  # cyan */
/* regular7=c7c7c7  # white */

/* ## Bright colors (color palette 8-15) */
/* bright0=686868   # bright black */
/* bright1=f28779   # bright red */
/* bright2=bae67e   # bright green */
/* bright3=ffd580   # bright yellow */
/* bright4=73d0ff   # bright blue */
/* bright5=d4bfff   # bright magenta */
/* bright6=95e6cb   # bright cyan */
/* bright7=ffffff   # bright white */
